<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Agregar productos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label>Seleccione un producto</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput
               type="number"
               placeholder="Cantidad">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Numero de lote">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput
               type="date"
               placeholder="Fecha de vencimiento">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input matInput
               type="number"
               placeholder="Precio">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button type="button"
              class="btn btn-primary btn-lg btn-block">Agregar</button>
    </div>
  </div>
</div>
